body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;

    min-height:100vh;
}

.page-center{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:10px;
}

p{
    color:#cbd5e1;
}

.buttons{
    margin-top:30px;
}

button{
    padding:12px 25px;
    margin:10px;

    border:none;
    border-radius:10px;

    background:#2563eb;
    color:white;

    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1d4ed8;
}

.container{
    text-align:center;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

input{
    width:300px;
    padding:10px;
    margin:8px;
    border:none;
    border-radius:8px;
}

h3{
    color:#cbd5e1;
}

.quiz-card{
    background:#1e293b;

    padding:20px;

    margin:15px;

    border-radius:12px;
}

.result-container{
    text-align:center;
    margin-top:50px;
}

.review-card{
    background:#1e293b;
    padding:20px;
    margin:20px;
    border-radius:12px;
    text-align:left;
}

.correct{
    color:#22c55e;
    font-weight:bold;
}

.wrong{
    color:#ef4444;
    font-weight:bold;
}

.progress-circle{
    position:relative;
    width:220px;
    height:220px;
    margin:auto;
}

.progress-circle svg{
    transform:rotate(-90deg);
}

.bg-circle{
    fill:none;
    stroke:#334155;
    stroke-width:12;
}

.progress-ring{
    fill:none;
    stroke:#3b82f6;
    stroke-width:12;

    stroke-dasharray:565;
    transition:1s ease;
}

.percentage{
    position:absolute;

    top:50%;
    left:50%;

    transform:
        translate(-50%, -50%);

    font-size:2rem;
    font-weight:bold;
}

.result-container h1,
.result-container h2{
    color:white;
}

.result-container h1{
    font-size:4rem;
    margin-bottom:10px;
}

.result-container h2{
    margin-bottom:40px;
}